@font-face {
    font-family: "Karla";
    src: url(../Fonts/static/Karla-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Karla";
    src: url(../Fonts/static/Karla-Regular.ttf);
    font-weight: 400;
}